// @import "../globals.scss";
// @import "../customBootstrap.scss";

// iK? begin from 360px & up for starting breakpoint

.Header_component {
  position: relative;

  .imageNHeadingContainer {
    // height: 35% !important;
    height: 50px !important;
  }

  img.rsLogo {
    margin-top: -1.3rem !important;
    margin-left: 0rem !important;
  }

  .brandHeading {
    font-family: monospace, "Roboto", Arial, Helvetica, "Montserrat", sans-serif,
      cursive;
    font-weight: 600;
    padding-top: 1rem;
    padding-right: 0.5rem;
    font-size: 2rem;
    margin-left: 0rem;
    margin-top: -1rem;
  }

  .svgLinks {
    margin-top: -6rem;
    margin-right: 1rem;
    text-align: end;
    padding-right: 1rem;
  }

  .quoteAuthorContainer {
    // height: 65% !important;
    background: linear-gradient(to right, #061161, #780206);

    .quoteContainer {
      font-size: 0.95rem;
      padding: 0.3rem 0.5rem;
      margin: auto;

      .quoteDiv {
        width: 97%;
        margin: auto;
        color: wheat;
      }
    }

    .authorContainer {
      // font-size: 0.9rem;
      // padding-right: 3rem;
      text-align: center;
      margin: auto;
      font-style: italic;
      margin-top: -8px;
      color: white;
    }
  }
}

// * breakpint of > 360px
@media screen and (min-width: 360px) {
  // .brandHeading {
  //   margin-left: -1rem !important;
  // }

  .quoteDiv {
    width: 89% !important;
  }

  .authorContainer {
    margin-top: -13px;
  }
} // breakpoint of > 360px

// * breakpint of > 400px
@media screen and (min-width: 400px) {
  .quoteDiv {
    width: 81% !important;
  }
} // breakpoint of > 400px

// * breakpint of > 500px
@media screen and (min-width: 500px) {
  .brandHeading {
    font-size: 2.5rem !important;
    margin-left: 1rem !important;
  }

  .quoteDiv {
    width: 64% !important;
  }
} // breakpoint of > 500px

// * breakpoint of > 576px (sm)
@media screen and (min-width: 576px) {
  .brandHeading {
    font-size: 3.5rem !important;
    margin-left: 1rem !important;
    margin-top: -1.8rem !important;
  }

  // .imageNHeadingContainer {
  //   height: 40% !important;
  // }

  // .quoteAuthorContainer {
  //   height: 60% !important;
  // }

  // hide the svg links because <Aside/> links will show up
  // .svgLinks {
  //   display: none;
  // }

  // .quoteContainer,
  // .authorContainer {
  //   width: 72%;
  // }

  .quoteDiv {
    width: 84% !important;
  }
} //END breakpoint of > 576px (md)

// * breakpoint of > 768px (md)
@media screen and (min-width: 768px) {
  .quoteDiv {
    width: 63% !important;
  }
} //END breakpoint of > 768px (md)

// * breakpoint of > 992px (lg)
@media screen and (min-width: 992px) {
  .quoteDiv {
    width: 100% !important;
    text-align: center;
  }
} //END breakpoint of > 992px (lg)

// * breakpoint of > 1200 (xl)
// @media screen and (min-width: 1200px) {
//   .imageNHeadingContainer {
//     height: 58% !important;
//   }

//   .quoteAuthorContainer {
//     height: 42% !important;
//   }

//   .quoteDiv {
//     width: 76% !important;
//   }
// } //END breakpoint of > 1200 (xl)

// * breakpoint of > 1400 (xxl)
// @media screen and (min-width: 1400px) {
//   .quoteDiv {
//     width: 32% !important;
//   }
// } //END breakpoint of > 1400 (xxl)

// * breakpoint of > 992 (lg)
//  @include media-breakpoint-up(lg) {
//  } //END breakpoint of > 992 (lg)

// * breakpoint of > 1200px (xl)
//  @include media-breakpoint-up(xl) {
//  } //END breakpoint of 1200px

// * breakpoint of > 1400px (xxl)
//  @include media-breakpoint-up(xxl) {
//  } //END breakpoint of 1400px
